<div class="card">
  <div class="card-header">
    <h3>Add New Friend</h3>
  </div>
  <div class="card-body">
  	<%= render 'form', friend: @friend %>
  </div>
</div>
</br>
<%= link_to 'Back', friends_path %>
